<!doctype html>
<html data-n-head-ssr lang="es-ES" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22es-ES%22%7D%7D">

<head>
    <title>Mementomori</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gothic+A1:wght@200;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
    <div id='backgroundtumba'>
      <div id="tumba_pers">
        
<div id="clipped-title1">
        <div id="tumba_name">Candela Magrané Garde</div>
        <div>
          <span id="tumba_data_neixament">17/03/2000</span> / <span id="tumba_data_mort">13/01/2023</span>
    </div>
        </div>
    </div>
    </div>
   
</body>
</html>

<script>

  var morts = [];

  function show_data(number) {

    if ( number > morts.length ) {
      return false;
    }
    let mort = morts[number - 1];
    console.log({esquela: mort.id})

    let names = document.getElementById('tumba_name');
    let data_neixament = document.getElementById('tumba_data_neixament');
    let data_mort = document.getElementById('tumba_data_mort');

    names.innerText = mort.names;
    data_neixament.innerText = mort.data_neixament;
    data_mort.innerText = mort.data_mort;

    return true;

  }

  function add_data() {

      var xhr = new XMLHttpRequest();

      // Making our connection  
      var url = 'data';
      xhr.open("GET", url, true);

      xhr.onreadystatechange = function () {

        if (this.readyState == 4 && this.status == 200) {

          var data = JSON.parse(this.responseText);

          if ('error' in data) {
            console.error(data['error']);
            return false;
          }

          list = new Array();
          for (let i of data) { 
            list.push(i);
          }
          morts = list;

          console.log({tumba: morts});
          show_data(1);
          let count = 2;

          // Configurar.
          let number_morts = 10;
          let intervalo = 5000;

          let interval = setInterval(function(){
            console.log({count: count});
            if ( show_data(count) == false  ||  count >= number_morts ) {
              if ( count >= number_morts ) {
                clearInterval(interval);
                add_data();
              }
              count = 0;
            }
            count++;
          }, intervalo); 
            }

        }

      // Sending our request 
      xhr.send();

      }

  add_data();



</script>

