

#logo img {
   width: 10px:

}

body {
    background-color: black;
    color: floralwhite;
}

.enquesta {
     background-color: #000000;
}

.enquesta h1{
    text-align: center;
    font-family: 'Radley', serif;
    color: #F2F2F2;
    font-size: 35px;
    padding-top: 40px;
    
}

.enquesta h5:hover {
    color: #cc78e7;
}


#titulo {
    text-align: center;
    font-family: 'Radley', serif;
}

#esqueles img{
    width: 400px;
}

#background {
    background-image: url(img/fons.png);
}
#backgroundtumba {
  background-image: url(img/fonstumba.png);
  /* height: 10vh; */
  margin: 10px;
  height: 800px;
    background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

#backgroundesquela {
    background-image: url(img/fonsesquela.png);
    background-repeat: no-repeat;
     background-size: contain;
    width: 1100px;
  height: 800px;
    margin: auto;
    color: black;
}

.textesquela h1{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
}

#tumba_pers {
    text-align: center;
    color: transparent;
  text-shadow: 1px 2px 3px #7f7b64, 0 0 0 #000;
padding-top: 440px;
    font-family: 'Tangerine', cursive;
    
}

#tumba_data_neixament {
    font-size: 35px;
}

#tumba_data_mort {
    font-size: 35px;
}

#tumba_name {
    font-size: 50px;
    padding-bottom: 50px;
    text-overflow: clip;
    overflow: hidden;
    white-space: pre-wrap;
    width: 537px;
    margin: auto;
}

.textesquela h1{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 27px;
     padding-top: 10px;
}

.textesquela {
    text-align: center;
}

.textesquela img {
    width: 40px;
    
}

#top img{
    padding-left: 100px;
    padding-top: 90px;
    width: 300px;
    
}

#top h2{
    padding-top: 110px;
    font-size: 30px;
}

#top h1{
    font-size: 40px;
}


#top h3{
    padding-top: 10px;
    font-size: 20px;
}

#top {
    text-align: center;
    font-family: 'EB Garamond', serif;
}
